.navbar {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.06);
  padding: 0.7rem 0;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .nav-link {
  font-weight: 500;
  color: #111;
  padding: 0.5rem 0.8rem;
}
.btn {
   padding: 15px;
  display: flex;
  justify-content: center; /* centers buttons horizontally */
  gap: 10px;
  
}

.simple-btn {
 padding: 8px 16px;
  border: 1px solid #333;
  background: white;
  cursor: pointer;
  font-size: 14px;.video-card img {
  transition: transform 0.4s ease;
}

.video-card:hover img {
  transform: scale(1.1);
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: white;
  opacity: 0.9;
  transition: 0.3s;
}

.video-card:hover .play-icon {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1);
}
}

.simple-btn:hover {
 background: #f2f2f2;
}

.memory-img-wrapper img {
  transition: transform 0.35s ease;
}

.memory-img-wrapper:hover img {
  transform: scale(1.1);
}

